<html>
  <head>
  	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="main.css" />
    <script type="text/javascript" src="/phaser-ce/build/phaser.min.js"></script>
  </head>
  <body>
  <div>
  	<h1 class="container text-center">Stackathon by DB</h1>
    <div class="container text-center" id="game"></div>
  </div>
    <script type="text/javascript" src="/craftyjs/dist/crafty-min.js"></script>
    <script type="text/javascript" src="enemies.js"></script>
    <script type="text/javascript" src="functions.js"></script>
    <script type="text/javascript" src="mainPhaser.js"></script>
  </body>
</html>
