body {
   background-color: grey;
   margin: 0;
}

div {
	background-color: beige;
	border: solid black 1px;
}

#game {
	background-color: white
}

h2 {
	background-color: silver;
	width: 20%;
	border: solid black 1px;
}

canvas {
    margin: 0% auto
}
